<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#addProductModal">Add product</button>
            <!-- Modal -->
            <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <app-add-product></app-add-product>

            </div>


          </div>
        </div>
      </div>


      <h2>Meters</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col"># Serial</th>
              <th scope="col">Connection type</th>
              <th scope="col">Storage system</th>
              <th scope="col">Condition</th>
              <th scope="col">Owner</th>
              <th scope="col">Location</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Purchase</th>
              <th scope="col">i_max</th>
              <th scope="col">i_b</th>
              <th scope="col">i_n</th>
              <th scope="col">Seals</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of response.items">
              <td>{{item.serial}}</td>
              <td>{{item.connection_type | titlecase}}</td>
              <td>{{item.storage_system | uppercase}}</td>
              <td>{{item.condition | uppercase}}</td>
              <td>{{item.owner | uppercase}}</td>
              <td>{{item.location | titlecase}}</td>
              <td>{{item.manufacturer | uppercase}}</td>
              <td>{{item.purchase | date}}</td>
              <td>{{item.i_max}}</td>
              <td>{{item.i_b}}</td>
              <td>{{item.i_n}}</td>
              <td>{{item.seals}}</td>
              <td>
                <button class="btn badge bg-info text-dark me-2" data-bs-toggle="modal"
                data-bs-target="#seeProductModal">See</button>

                <div class="modal fade" id="seeProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <app-view-product [item]="item"></app-view-product>

              </div>
                <button class="btn badge bg-warning text-dark me-2">Edit</button>
                <button class="btn badge bg-danger" (click)="deleteItem(item.id, item.serial)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination ">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </main>
  </div>
</div>
