<main class="form-signin text-center">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" role="form">
    <img class="mb-4" src="https://www.svgrepo.com/show/217771/shopping-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" formControlName="username"
        placeholder="Write your username">
      <label for="floatingInput">Username</label>
      <ng-container *ngFor="let validation of validationMessages.username">
        <small class="form-text text-danger" *ngIf="loginForm.get('username')?.hasError(validation.type) &&
                (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) ">
          {{validation.message}}
        </small>
      </ng-container>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" formControlName="password" id="floatingPassword"
        placeholder="Password">
      <label for="floatingPassword">Password</label>
      <ng-container *ngFor="let validation of validationMessages.password">
        <small class="form-text text-danger" *ngIf=" loginForm.get('password')?.hasError(validation.type) &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched) ">
          {{validation.message}}
        </small>
      </ng-container>
    </div>

    <button class="w-100 btn btn-lg btn-primary" [disabled]="loginForm.invalid" type="submit">Sign in</button>
  </form>
</main>
